<div class="grid mb-4 pb-10 px-8 ml-40 rounded-3xl">

    <div class="grid grid-cols-12 gap-6">
        <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
            <div class="col-span-12 mt-8">
                <div class="flex items-center h-10 intro-y">
                    <h2 class="mr-5 text-lg font-medium truncate">Dashboard</h2>
                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">
                    <a class="transform hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-4 intro-y bg-white h-40"
                        href="#">
                        <div class="p-5">
                            <div class="flex justify-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 flight-icon"
                                    viewBox="0 0 576 512">
                                    <style>
                                        .flight-icon {
                                            fill: #539dfd
                                        }
                                    </style>
                                    <path
                                        d="M482.3 192c34.2 0 93.7 29 93.7 64c0 36-59.5 64-93.7 64l-116.6 0L265.2 495.9c-5.7 10-16.3 16.1-27.8 16.1l-56.2 0c-10.6 0-18.3-10.2-15.4-20.4l49-171.6L112 320 68.8 377.6c-3 4-7.8 6.4-12.8 6.4l-42 0c-7.8 0-14-6.3-14-14c0-1.3 .2-2.6 .5-3.9L32 256 .5 145.9c-.4-1.3-.5-2.6-.5-3.9c0-7.8 6.3-14 14-14l42 0c5 0 9.8 2.4 12.8 6.4L112 192l102.9 0-49-171.6C162.9 10.2 170.6 0 181.2 0l56.2 0c11.5 0 22.1 6.2 27.8 16.1L365.7 192l116.6 0z" />
                                </svg>
                                <div
                                    class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                    <span class="flex items-center">30%</span>
                                </div>
                            </div>
                            <div class="ml-2 w-full flex-1">
                                <div>
                                    <div class="mt-3 text-3xl font-bold leading-8">Flights</div>

                                    {{!-- <div class="mt-1 text-base text-gray-600">Item Sales</div> --}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-4 intro-y bg-white"
                        href="#">
                        <div class="p-5">
                            <div class="flex justify-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 hotel-icon"
                                    viewBox="0 0 640 512">
                                    <style>
                                        .hotel-icon {
                                            fill: #ee1b1b
                                        }
                                    </style>
                                    <path
                                        d="M32 32c17.7 0 32 14.3 32 32V320H288V160c0-17.7 14.3-32 32-32H544c53 0 96 43 96 96V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V416H352 320 64v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V64C0 46.3 14.3 32 32 32zm144 96a80 80 0 1 1 0 160 80 80 0 1 1 0-160z" />
                                </svg>
                                <div
                                    class="bg-purple-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                    <span class="flex items-center">{{hotelDashboardValues.length}} bookings!</span>
                                </div>
                            </div>
                            <div class="ml-2 w-full flex-1">
                                <div>
                                    <div class="mt-3 text-3xl font-bold leading-8 mb-5">Hotels</div>

                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-4 intro-y bg-white"
                        href="#">
                        <div class="p-5">
                            <div class="flex justify-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 restaurant-icon"
                                    viewBox="0 0 448 512">
                                    <style>
                                        .restaurant-icon {
                                            fill: #28bd69
                                        }
                                    </style>
                                    <path
                                        d="M416 0C400 0 288 32 288 176V288c0 35.3 28.7 64 64 64h32V480c0 17.7 14.3 32 32 32s32-14.3 32-32V352 240 32c0-17.7-14.3-32-32-32zM64 16C64 7.8 57.9 1 49.7 .1S34.2 4.6 32.4 12.5L2.1 148.8C.7 155.1 0 161.5 0 167.9c0 45.9 35.1 83.6 80 87.7V480c0 17.7 14.3 32 32 32s32-14.3 32-32V255.6c44.9-4.1 80-41.8 80-87.7c0-6.4-.7-12.8-2.1-19.1L191.6 12.5c-1.8-8-9.3-13.3-17.4-12.4S160 7.8 160 16V150.2c0 5.4-4.4 9.8-9.8 9.8c-5.1 0-9.3-3.9-9.8-9L127.9 14.6C127.2 6.3 120.3 0 112 0s-15.2 6.3-15.9 14.6L83.7 151c-.5 5.1-4.7 9-9.8 9c-5.4 0-9.8-4.4-9.8-9.8V16zm48.3 152l-.3 0-.3 0 .3-.7 .3 .7z" />
                                </svg>
                                <div
                                    class="bg-yellow-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                    <span class="flex items-center">30%</span>
                                </div>
                            </div>
                            <div class="ml-2 w-full flex-1">
                                <div>
                                    <div class="mt-3 text-3xl font-bold leading-8">Restaurants</div>

                                    {{!-- <div class="mt-1 text-base text-gray-600">Item Sales</div> --}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="accordion-color" data-accordion="collapse"
    data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white" class="ml-40 rounded-xl">
    {{#each hotelDashboardValues as |hotelOrder|}}
    <h2 id="accordion-color-heading-{{hotelOrder.id}}">
        <button type="button"
            class="items-center w-3/4 ml-40  p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200  focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 rounded"
            data-accordion-target="#accordion-color-body-{{hotelOrder.id}}" aria-expanded="true"
            aria-controls="accordion-color-body-{{hotelOrder.id}}">
            <span>Hotel {{hotelOrder.hotel_name}} in {{hotelOrder.city}}, {{hotelOrder.start_date}} -
                {{hotelOrder.end_date}}</span>
            <span class="me-3 flex inline-flex float-right">

                <div class="text-decoration-none ml-2">
                    <div class="flex float-right d-inline-block ml-4">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.45em" class="userPostDeleteBtn"
                            viewBox="0 0 448 512" data-target={{hotelOrder.id}}>
                            <style>
                                .userPostDeleteBtn {
                                    fill: #e22012
                                }
                            </style>
                            <path
                                d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                                class="userPostDelPathBtn" data-target={{hotelOrder.id}} />
                        </svg>

                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" class="userPostUpdateBtn"
                        viewBox="0 0 576 512">
                        <style>
                            .userPostUpdateBtn {
                                fill: #226cec
                            }
                        </style>
                        <path
                            d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"
                            data-modal-target="updateModal" data-modal-toggle="updateModal"
                            class="userHotelUpdatePathBtn" data-target={{hotelOrder.id}}/ </svg>

                </div>


                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 ml-7" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5 5 1 1 5" />
                </svg>
            </span>
        </button>
    </h2>
    <div id="accordion-color-body-{{hotelOrder.id}}" class="hidden w-3/4 ml-40"
        aria-labelledby="accordion-color-heading-{{hotelOrder.id}}">
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900 rounded-lg">

            {{>hotelBookingDetails}}
           
        </div>
    </div>



    {{/each}}
</div>


<!-- Main modal UPDATEEEE-->
<div id="updateModal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="updateModal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Update your booking</h3>
                <form class="space-y-6 updateHotelBookingForm" action="#">
                    <div>
                        <label for="numOfRooms"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Rooms</label>
                        <input type="number" name="numOfRooms" id="numOfRooms"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="# of rooms" required>
                    </div>

                    <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="dateRange">
                Date Range:
            </label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="dateRange" type="text" placeholder="Select date range">
        </div>

<div>
                    <label for="first_name"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                    <input type="text" name="first_name" id="first_name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="John" required="">
                </div>
                <div>
                    <label for="last_name"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                    <input type="text" name="last_name" id="last_name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Doe" required="">
                </div>
                <div>
                    <label for="email"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="name@company.com" required="">
                </div>
                <div>
                    <label for="phonenumber"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                    <input type="number" name="phonenumber" id="phonenumber"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="+1 416 ..." required="">
                </div>
                    <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 UpdateModalBtn">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Main modal  DELETEEEE-->
<div id="deleteModal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <button type="button"
                class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-toggle="deleteModal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <svg class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto" aria-hidden="true"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                    clip-rule="evenodd"></path>
            </svg>
            <p class="mb-4 text-gray-500 dark:text-gray-300">Are you sure you want to delete this item?</p>
            <div class="flex justify-center items-center space-x-4">
                <button data-modal-toggle="deleteModal" type="button"
                    class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    No, cancel
                </button>
                <button type="submit"
                    class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
                    Yes, I'm sure
                </button>
            </div>
        </div>
    </div>
</div>



<script>

    //UPDATE
    const hotelBookingUpdateBtnEle = document.querySelectorAll('.userHotelUpdatePathBtn')
    const numOfRoomsEle = document.querySelector('#numOfRooms')
    const dateRangeEle = document.querySelector('#dateRange')
    const first_nameEle = document.querySelector('#first_name')
    const last_nameEle = document.querySelector('#last_name')
    const emailEle = document.querySelector('#email')
    const phonenumberEle = document.querySelector('#phonenumber')
    const updateModalBtnEle = document.querySelector('.UpdateModalBtn')
    const updateHotelBookingFormEle = document.querySelector('.updateHotelBookingForm')
    let hotelBookingId = 0

    const updateHotelBookingGetID = (e) => {
        console.log("eeee=", e)
        const a = e.target.getAttribute('data-target')
        hotelBookingId = a.split('/')[0]
        console.log("Update id = ", hotelBookingId)
    }

    const updateHotelBooking = (e) => {
        e.preventDefault()

        const start_date = (dateRangeEle.value.split('to')[0]).trim()
        console.log("start_date = ",start_date)
        
        const end_date = (dateRangeEle.value.split('to')[1]).trim()
        console.log("end_date = ",end_date)

        console.log(' firstname = ',first_nameEle.value)
        console.log(' lastname = ',last_nameEle.value)
        console.log(' email = ',emailEle.value)
        console.log(' phonenumber = ',phonenumberEle.value)

        console.log("Update id 2= ", hotelBookingId)
        fetch(`/api/hotelConfirmation/${hotelBookingId}`, {
            method: "PUT",
            body: JSON.stringify({
                num_of_rooms: numOfRoomsEle.value,
                start_date:start_date,
                end_date:end_date,
                first_name:first_nameEle.value,
                last_name:last_nameEle.value,
                email:emailEle.value,
                phone_number:phonenumberEle.value
            }),
            headers: {
                "Content-Type": "application/json"
            }
        }).then((updateHotelConfirmation) => {
            console.log(`Hotel Booking id is UPDATED`)
            document.location.reload()
        }).catch((err) => {
            console.log(err)
        })
    }


    hotelBookingUpdateBtnEle.forEach((e) => {
        e.addEventListener('click', updateHotelBookingGetID)
    })


    updateHotelBookingFormEle.addEventListener('submit', updateHotelBooking)






    //DELETE
    const hotelBookingDelBtnEle = document.querySelectorAll('.userPostDelPathBtn')

    const delHotelBooking = (e) => {
        console.log("eeee=", e)
        const a = e.target.getAttribute('data-target')
        const hotelBookingId = a.split('/')[0]
        console.log("delete id = ", hotelBookingId)

        fetch(`/api/hotelConfirmation/${hotelBookingId}`, {
            method: "DELETE"
        }).then((delHotelConfirmation) => {
            console.log(`Hotel Booking id is deleted`)
            document.location.reload()
        }).catch((err) => {
            console.log(err)
        })
    }

    hotelBookingDelBtnEle.forEach((e) => {
        e.addEventListener('click', delHotelBooking)
    })


    ///




</script>