<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full h-40 object-cover" src="../public/css/assets/flight-bg.jpg" alt="Flight Image">
  <div class="px-6 py-4">
    <h2 class="text-xl font-bold mb-2">Flight Ticket</h2>
    <div class="flex justify-between">
       <div class="flex justify-between">
      <span class="font-semibold">TicketHolder:</span>
      <span class="text-gray-700">{{Customer_name}}</span>
    </div>
     <div class="flex justify-between">
      <span class="font-semibold">PhoneNumber:</span>
      <span class="text-gray-700">{{Phonenumber}}</span>
    </div>
     <div class="flex justify-between">
      <span class="font-semibold">Email:</span>
      <span class="text-gray-700">{{Email}}</span>
    </div>
      <span class="font-semibold">Flight No:</span>
      <span class="text-gray-700">{{flight_num}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">Flight Name:</span>
      <span class="text-gray-700">{{flight_name}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">Origin:</span>
      <span class="text-gray-700">{{origin}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">Destination:</span>
      <span class="text-gray-700">{{destination}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">Departure Time:</span>
      <span class="text-gray-700">{{start_time}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">Arrival Time:</span>
      <span class="text-gray-700">{{end_time}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">Price:</span>
      <span class="text-gray-700">{{price}}</span>
    </div>
    <div class="flex justify-between">
      <span class="font-semibold">Class:</span>
      <span class="text-gray-700">{{class}}</span>
    </div>
  </div>
</div>
